<h1 class="text-center">My list</h1>


<div class="container">
  <div class="row justify-content-center">
  <% @lists.each do |list| %>
    <%= render list %>
  <% end %>
  <button class="btn"><%= link_to "Create a List", new_list_path%></button>
</div>
</div>
