<h1 class="text-center">My list</h1>


<div class="container">
  <div class="row justify-content-center">
  <% @lists.each do |list| %>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h2><%= link_to list.name, list_path(list) %></h2>
  </div>
</div>
  <% end %>
  <button class="btn"><%= link_to "Create a List", new_list_path%></button>
</div>
</div>
